/*导航开始*/
nav.navbar-class {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 5rem;
}

.navbar-light .navbar-nav a.nav-link-class {

    color: #555555;

}

.navbar-light .navbar-nav a.nav-link-class-active {
    color: #1cb9c8;
}

.navbar-light .navbar-nav a.nav-link-class:hover {
    color:#1cb9c8;
    text-decoration: none;
}  /* 鼠标移动到链接上 */
/*导航结束*/

/*轮播开始*/
/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

/*轮播结束*/


/*section-1-container开始*/
.section-1-container {
    height: 662px;
    position: relative;
}

.section-1-white-view-back {
    height: 418px;
    background-color: white;
    position: relative;
}

.section-1-bright-view-back {
    height: 244px;
    background-color: #1cb9c8;
    position: relative;
}

.section-title {
    color: #1cb9c8;
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.section-line-view {
    width: 60px;
    height: 2px;
    background-color: #1cb9c8;
    margin: auto;
    margin-top: 15px;
}

.section-sub-title {
    color: #9c9c9c;
    font-size: 14px;
    margin: auto;
    margin-top: 12px;
    text-align: center;
}

.section-1-read-more-button {
    display: block;
    width: 200px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    background-color: #1cb9c8;
    border-radius: 4px;
    border: solid 1px #ffffff;
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -100px;
}

a.section-1-read-more-button:hover {
    background-color: white;
    color:#1cb9c8;
    text-decoration: none;
}

.section-1-card-container {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(23.33vw * -0.8);
}

.section-1-card-ul-class {
    list-style-type: none;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
}

.section-1-card-li-class {
    width: 17.5vw;
    height: 23.33vw;
    margin-left: 30px;
    margin-right: 30px;
}

.section-1-card-a-class {
    width: 100%;
    height: 100%;
    display: block;
    transition:transform 0.5s;
    -webkit-transition:-webkit-transform 0.5s; /* Safari */
}

a.section-1-card-a-class:hover {
    text-decoration: none;
    transform:scale(1.1);
    -webkit-transform:scale(1.1); /* Safari and Chrome */
}

.section-1-card-img-class {
    width: 100%;
    height: 80%;
}

.section-1-card-title-class {
    width: 100%;
    height: 20%;
    line-height: calc(23.33vw * 0.2);
    text-align: center;
    background-color: white;
    color: #555555;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*section-1-container结束*/

/*section-2-container开始*/

.section-2-container {
    background-color: white;
    padding-bottom: 50px;
}

.section-2-card-container {
    margin-top: 29px;
}

.section-2-card-ul-class {
    list-style-type: none;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
}

.section-2-card-li-class {
    width: 20vw;
    height: 22.74vw;
    margin-left: 10px;
    margin-right: 10px;
}

.section-2-card-a-class {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.section-2-card-img-class {
    width: 100%;
    height: 100%;
}

.section-2-card-hover-div-class {

    background-color:rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;

}

.section-2-card-hover-title {
    font-size: 18px;
    width: 80%;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
    margin-top: 20%;
}

.section-2-card-hover-content {
    width: 80%;
    height: 38%;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 8%;
    overflow: hidden;
}

.section-2-card-hover-button {
    margin: auto;
    margin-top: 8%;
    width: 150px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 20px;
    border: solid 1px #ffffff;
    font-size: 14px;
    color: #ffffff;
}

.section-2-read-more-button {
    display: block;
    width: 200px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    background-color: #1cb9c8;
    color: white;
    font-size: 14px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
}

a.section-2-read-more-button:hover {
    background-color: white;
    color:#1cb9c8;
    text-decoration: none;
    border: solid 1px #1cb9c8;
}

/*section-2-container结束*/

/*section-3-container开始*/

.section-3-container {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1cb9c8;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-item-container {
    width: 40%;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    padding: 30px 20px;
}

.section-3-item-title {
    font-size: 24px;
    color: #555555;
    display: inline-block;
    padding-bottom: 9px;
    border-bottom: 2px solid #1cb9c8;
    margin-bottom: 5px;
}

.section-3-item-more {
    font-size: 14px;
    color: #1cb9c8;
    float: right;
    margin-top: 13px;
}

a.section-3-item-more:hover {
    background-color: white;
    color:#1cb9c8;
    text-decoration: none;
}

.section-3-one-item-container {
    display: block;
    height: 81px;
    margin-top: 15px;
}

.section-3-one-item-container-back-1 {
    background-color: #eafdff;
}

.section-3-one-item-container-back-2 {
    background-color: #f1f1f1;
}

.section-3-one-item-class {
    width: 81px;
    height: 81px;
    line-height: 81px;
    text-align: center;
    color: white;
    font-size: 18px;
    float: left;
}

.section-3-one-item-class-back-1 {
    background-color: #1cb9c8;
}

.section-3-one-item-class-back-2 {
    background-color: #555555;
}

.section-3-one-item-title {
    font-size: 12px;
    color: #555555;
    float: left;
    margin-top: 12px;
    margin-left: 23px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 81px - 23px - 20px);
}

.section-3-one-item-content {
    font-size: 12px;
    color: #555555;
    float: left;
    height: 35px;
    margin-left: 23px;
    margin-top: 5px;
    overflow: hidden;
    width: calc(100% - 81px - 23px - 20px);
}

/*section-3-container结束*/

/*about-me-container开始*/

.about-me-container {
    height: 602px;
    background-color: white;
}

.about-content-container {
    height: 403px;
    margin-top: 30px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
}

.about-desc-container {
    width: 570px;
    height: 100%;
    margin-right: 30px;
    margin-left: 30px;
}

.about-title-container {
    margin-top: 11px;
    font-size: 24px;
    color: #1cb9c8;
}

.about-me-line {
    width: 60px;
    height: 2px;
    background-color: #1cb9c8;
    margin-top: 15px;
}

.about-me-content-container {
    margin-top: 30px;
    height: 188px;
}

.about-me-content {
    font-size: 14px;
    color: #555555;
    text-indent:35px;
    margin-bottom: 0;
    line-height: 25px;
}

.about-me-read-more-button {
    display: block;
    width: 200px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    background-color: #1cb9c8;
    color: white;
    font-size: 14px;
    margin-top: 30px;
    border-radius: 4px;
}

a.about-me-read-more-button:hover {
    background-color: white;
    color:#1cb9c8;
    text-decoration: none;
    border: solid 1px #1cb9c8;
}

.about-me-img {
    height: 100%;
    width: 100%;
}

/*about-me-container结束*/

/*footer开始*/

.footer-class {
    background-color: #001a0d;
    padding: 20px 0;
}

.footer-icon {
    display: block;
    margin: auto;
    width: 84px;
    height: 84px;
    border-radius: 4px;
}

.footer-ul-class {
    list-style-type: none;
    margin: auto;
    margin-top: 15px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
}

.footer-link-rignt-border {
    border-right: solid 1px #c6c6c6;
}

.footer-link-class {
    color: #c6c6c6;
    font-size: 12px;
    padding: 0 15px;
}

a.footer-link-class:hover {
    text-decoration: none;
    color: #1cb9c8;
}

/*footer结束*/